.buttons,
.main .profile {
    display: flex;
    justify-content: center;
}
.main .profile {
    align-items: center;
    min-height: calc(100vh - var(--footer-height) - (var(--gap) * 2));
    font-size: var(--homesize);
    line-height: var(--lineheight);
    padding: var(--gap);
}

.profile .profile_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 600px;
}

.profile .profile_inner h1 {
    font-size: 2.5rem;
}

.profile .profile_inner > span {
    text-align: justify;
    display: block;
    width: 100%;
    max-width: 530px;
    line-height: 1.8;
}

.profile .profile_inner > span a {
    color: var(--darkcolor);
    text-decoration: none;
}

.profile .profile_inner > span a:hover {
    color: var(--btn-hover);
}

.profile img {
    border-radius: 50%;
    border: 1px solid var(--tertiary);
    width: 100%;
    max-width: 300px;
    height: auto;
}

.buttons {
    flex-wrap: wrap;
}

.button {
    background: var(--tertiary);
    border-radius: var(--radius);
    margin: 6px 12px 6px 0px;
    padding: 10px;
}

.button-inner {
    padding: 0 8px;
}

.button:hover {
    background: var(--lightcolor);
}